<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>
<div th:fragment="footer">
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <a href="https://github.com/Rory-Powell/blockchain-analysis">
                    <i class="fa fa-github fa-2x"></i>
                </a>

                <a href="https://blockchain.info/">
                    <i class="fa fa-btc fa-2x"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>