<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">

    <div th:fragment="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a class="navbar-brand navbar-lg" href="#" th:href="@{/}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>

                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/products}">Products</a></li>
                        <li><a href="#" th:href="@{/addresses}">Addresses</a></li>
                    </ul>
                </div>

                <!-- Search Bar -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <!-- Search panel-->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search"/>
                            </div>

                            <!--Submit button -->
                            <button type="submit" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                Search
                            </button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>