<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Home -->
                    <a class="navbar-brand navbar-lg" href="#" th:href="@{/}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>

                    <!-- Links -->
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/addresses}">Addresses</a></li>
                        <li><a href="#" th:href="@{/owners}">Owners</a></li>
                    </ul>
                </div>

                <!-- Search -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
                                        <input type="text" th:field="*{searchAddress}" class="form-control"  placeholder="e.g. 1JLRXD8rjRgQtTS9MvfQALfHgGWau9L9ky" />
                                    </form>

                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</div>
</body>
</html>