html,body{
	height: 100%;
	background: url("../images/neo4j_background3.gif") repeat fixed 0 0 rgba(0, 0, 0, 0);
	background: #E8ECED;
	overflow-y: scroll;
}

#holder {
	min-height: 100%;
	position:relative;
}

#body {
	padding-bottom: 70px;
	padding-top: 60px;
	background: #E8ECED;
}


/* Footer section */
.footer{
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	overflow:hidden;
	background: #424242;
	position:fixed;
}
.footer i.fa{
	padding-left: 50px;
	right: 50px;
	color: #bbbbbb;
	margin-top: 8px;
}
.footer i.fa:hover{
	color: #FFFFFF;
}

/* Search section */
#imaginary_container{
	width: 425px;
	margin-top:8px;
}
.stylish-input-group .input-group-addon{
	background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
	border:0;
	background:transparent;
}

.blockInfoHeader {
	font-weight: bold;
	font-size: 18px;
}

.graphInfoPanel {
	position: relative;
	top: -800px;
	margin-left: 40px;
	margin-top: 40px;
	width: 500px;
	text-align: center;
}

.voffset30  { margin-top: 30px; }
.voffset70  { margin-top: 70px; }
.voffset10  { margin-top: 10px; }
.voffset15  { margin-top: 15px; }