<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Address</title>

    <!--/*/ <th:block th:include="fragments/include :: head"></th:block> /*/-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>

    <script src="../static/js/graph_logic.js" th:src="@{/js/graph_logic.js}"></script>
    <script src="../static/js/graph_logic_bounded.js" th:src="@{/js/graph_logic_bounded.js}"></script>
    <script src="../static/js/ajaxCalls.js" th:src="@{/js/ajaxCalls.js}"></script>

</head>

<body>

<div id="holder">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div id="graph" align="center">
    </div>

    <div id="body">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading" id="address" th:text="${address}"></div>
                    <table id="results" class="table table-striped table-hover">
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var address = document.getElementById("address").textContent;
        drawGraph(address)
    </script>

    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>

<style type="text/css">
    .node { stroke: #222; stroke-width: 0.5px; }
    .node.actor { fill: #888; }
    .node.movie { fill: #BBB; }
    .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
</style>

</body>
</html>
